<div id="transfer-slide-out" class="form-container1 form-font">
  <div class="form-container2">
    <div>
      <h1 id="split-amount"></h1>
    </div>
      <h2>Search</h2>
        <% if user_signed_in? %>
            <%= form_with model: Search.new, url: root_path do |form| %>
              <% if @search.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

                  <ul>
                  <% @search.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="field">
                <%= form.label :date, "Start Date" %>
                <%= form.date_select :start_date %>
              </div>

              <div class="field">
                <%= form.label :date, "End Date" %>
                <%= form.date_select :end_date %>
              </div>

              <div class="actions">
                <%= form.submit "Filter" %>
              </div>
            <% end %>
        <% end %>
  </div>
</div>
