<% if user_signed_in? %>
<div>
  <h1 class="dash-header">Dashboard</h1>
</div>
  <div class="container">
    <div class="row">
      <div class="col">
        <%= render 'mentries/form', mentry: @mentry %>
      </div>
      <div class="col">
        <%= render 'dashboard/piechart' %>
        <div class="white-space">

        </div>
        <%= render 'dashboard/maccount_balances' %>
      </div>
    </div>
  </div>

<hr>
  <div class="container">
    <div class="row">
      <div class="col">
        <%= render 'dashboard/datesearch' %>
      </div>
      <div class="col">
        <%= render 'dashboard/spending' %>
      </div>
    </div>
  </div>

  <% else %>
    <%= render 'loggedout' %>
  <% end %>
