<% if user_signed_in? %>

<div>
  <h1 class="dash-header">Dashboard</h1>
</div>
  <div class="container">
    <div class="row">
      <div class="col">
        <%= render 'mentries/form', mentry: @mentry %>
        <div class="white-space"></div>
      </div>


      <div class="col">
        <div>
          <%= render 'dashboard/piechart' %>
        </div>
        <div class="white-space"></div>

        <div>
          <%= render 'dashboard/maccount_balances' %>
        </div>
        <div class="white-space"></div>

        <div>
          <%= render 'dashboard/spending' %>
        </div>
      </div>

    </div>
  </div>


  <% else %>
    <%= render 'loggedout' %>
  <% end %>
