<% if user_signed_in? %>

<%= pie_chart [[@mcategory.name, @entry.amount], [@mcategory.name, @entry.amount]] %>
<%= pie_chart chart_array %>

  <h1>Dashboard</h1>
    <%= render 'mentries/form', mentry: @mentry %>
    <%= render 'dashboard/maccount_balances' %>
  <h2>Spending Breakdown</h2>
    <%= render 'dashboard/spending' %>
  <% else %>
    <%= render 'loggedout' %>
  <% end %>
