<%= form_with(model: mtype, local: true) do |form| %>
  <% if mtype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mtype.errors.count, "error") %> prohibited this mtype from being saved:</h2>

      <ul>
      <% mtype.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit "Create Transaction Type", class: "btn btn-outline-success my-2 my-sm-0" %>
  </div>
<% end %>
