<p id="notice"><%= notice %></p>

<h1>Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @maccounts.each do |maccount| %>
      <tr>
        <td><%= maccount.name %></td>
        <td><%= link_to 'Show', maccount %></td>
        <td><%= link_to 'Edit', edit_maccount_path(maccount) %></td>
        <td><%= link_to 'Destroy', maccount, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_maccount_path %>
