<%= form_with(model: mcategory, local: true) do |form| %>
  <% if mcategory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mcategory.errors.count, "error") %> prohibited this mcategory from being saved:</h2>

      <ul>
      <% mcategory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit "Create Category", class: "btn btn-outline-dark my-2 my-sm-0" %>
  </div>
<% end %>
