<p id="notice"><%= notice %></p>

<h1>
  <strong>Name:</strong>
  <%= @mcategory.name %>
</h1>

<%= render 'mcategories/entries' %>
<%= link_to 'Edit', edit_mcategory_path(@mcategory) %> |
<%= link_to 'Back', mcategories_path %>
