<%= form_for @search do |search| %>
  <div class="field">
    <%= form.label :from_date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :date %>
  </div>

  <div class="actions">
    <%= form.submit "Search" %>
  </div>

<% end %>
