
  <table class="table">
    <thead>
      <tr>
        <th scope="col">###</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        <th scope="col">Type</th>
        <th scope="col">Category</th>
        <th scope="col">Location</th>
        <th scope="col">Amount</th>
        <th scope="col">Note</th>
      </tr>
    </thead>
    <tbody class="table-row">
      <% @mentries.reverse.each do |mentry| %>
      <% if @maccount.name == mentry.maccount.name %>
        <% if current_user.id == mentry.user_id %>
          <tr>
            <th scope="row"><%= link_to mentry.id, mentry_path(mentry.id) %></th>
            <th scope="row"><%= mentry.date %></th>
            <th scope="row"><%= mentry.mstatus.name %></th>
            <th scope="row"><%= mentry.mtype.name %></th>
            <th scope="row"><%= mentry.mcategory.name %></th>
            <th scope="row"><%= mentry.mlocation.name %></th>
            <th scope="row"><%= number_to_currency(mentry.amount) %></th>
            <th scope="row"><%= mentry.note %></th>
          </tr>
        <% end %>
      <% end %>
    <% end %>
    </tbody>
  </table>
