<%= form_with(model: mstatus, local: true) do |form| %>
  <% if mstatus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mstatus.errors.count, "error") %> prohibited this mstatus from being saved:</h2>

      <ul>
      <% mstatus.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit "Create Status", class: "btn btn-outline-dark my-2 my-sm-0" %>
  </div>
<% end %>
