<!-- link_to current_user.email, edit_user_registration_path -->

<header class="fixed-top">
  <% if user_signed_in? %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light header-shadow">
    <a class="mooostachio-image-header" href="<%= root_path %>">
      <%= image_tag("logo_size_icon_invert.png", width: "40", height: "40", class: "d-inline-block align-top mooostachio-image-header") %>
    </a><span class="brand-font">MOOOSTACH.IO</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Accounts
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% Maccount.all.each do |maccount| %>
              <% if current_user.id == maccount.user_id %>
                <%= link_to maccount.name, maccount_path(maccount.id), class: "dropdown-item" %>
              <% end %>
            <% end %>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            View By
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="<%= maccounts_path %>">Accounts</a>
            <a class="dropdown-item" href="<%= mentries_path %>">Entries</a>
            <a class="dropdown-item" href="<%= mcategories_path %>">Categories</a>
            <a class="dropdown-item" href="<%= mlocations_path %>">Locations</a>
            <!-- <div class="dropdown-divider"></div> -->
            <a class="dropdown-item" href="<%= mtypes_path %>">Transaction Types</a>
            <a class="dropdown-item" href="<%= mstatuses_path %>">Status</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Create New
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="<%= new_maccount_path %>">Account</a>
            <a class="dropdown-item" href="<%= new_mcategory_path %>">Category</a>
            <a class="dropdown-item" href="<%= new_mlocation_path %>">Location</a>
            <!-- <div class="dropdown-divider"></div> -->
            <a class="dropdown-item" href="<%= new_mtype_path %>">Transaction Type</a>
            <a class="dropdown-item" href="<%= new_mstatus_path %>">Status</a>
          </div>
        </li>


      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to current_user.email, edit_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </nav>
  <% end %>
</header>
<div class="header-margin"></div>
